<!-- this is where the magic is going to happen -->
<%= hidden_field_tag :current_id, params[:id] %>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .item {
        background-color: '#00ff00';
    }
    .recipe {
        background-color: "#ff0000";
    }


</style>

<div id="cy"></div>
